* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 740px;
    overflow-y: auto;
}

#navTopo {
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    padding: 0 16px;
}

/* CAIXA DA ESQUERDA */
#caixaEsquerda {
    position: relative;
    width: 11%; /* 169px */
    height: 56px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

#iconeMenu {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#iconeMenu img{
    width: 24px;
    height: 24px;
    margin: auto;
}

#iconeMenu:hover{
    background-color: #b8b8b8;
    border-radius: 24px;
    cursor: pointer;
}

#iconeYoutube{
    position: relative;
    width: 124px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#iconeYoutube img {
    width: 90px;
    height: 20px;
    margin: auto;
}


/* CAIXA DO MEIO*/
#caixaMeio {
    position: relative;
    width: 70%; /* 732px */
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#barraPesquisa input {
    width: 522px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 24px 0 0 24px;
    margin-left: 32px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0 16px;
    font-family: Roboto,Noto,sans-serif;
    font-size: 16px;
}

#barraPesquisa input:focus{
    outline: 1px solid #008cff;
}

#botaoPesquisar {
    position: relative;
    width: 64px;
    height: 41px;
    border: 1px solid #cccccc;
    border-radius: 0 24px 24px 0;
}

#botaoPesquisar img {
    width: 20px;
    height: 20px;
    padding: 2px 6px;
}

#botaoPesquisar:hover{
    background-color: #cdcdcd;
    cursor: pointer;
}

#botaoMicrofone {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    background-color: #d9d9d9;
    margin-left: 15px;
}

#botaoMicrofone:hover{
    background-color: #cdcdcd;
    cursor: pointer;
}

/*CAIXA DA DIREITA*/
#caixaDireita {
    position: relative;
    width: 19%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#botaoUpload {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 24px;
}

#botaoUpload img {
    width: 24px;
    height: 24px;
    margin: auto;
}

#botaoUpload:hover {
    background-color: #cdcdcd;
    width: 40px;
    height: 40px;   
    border-radius: 24px;
    cursor: pointer;
}

#botaoNotificacao {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    margin-left: 12px;
}

#botaoNotificacao img {
    width: 24px;
    height: 24px;
    margin: auto;
}

#botaoNotificacao:hover {
    background-color: #cdcdcd;
    width: 40px;
    height: 40px;   
    border-radius: 24px;
    cursor: pointer;
}

#botaoPerfil {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    margin-left: 12px;
}

#botaoPerfil img {
    width: 60px;
    height: 40px;
    margin: auto;
    border-radius: 24px;
}

/* Menu lateral Esquerdo */
aside {
    position: relative;
    float: left;
    width: 15%;
}

.menuLateral::-webkit-scrollbar {
    width: 0;
}

.menuLateral::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
}

aside:hover .menuLateral::-webkit-scrollbar {
    width: 11px;
}

aside:hover .menuLateral::-webkit-scrollbar-thumb {
    background-color: #909090;
}

.menuLateral {
    width: 100%;
    height: 683px;
    overflow: auto;
    padding-top: 4.8px;
}

.items{
    padding: 8px 16px;
    display: flex;
    cursor: pointer;
    margin-right: 3.2px;
}

.items img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.items p {
    text-transform: capitalize;
    margin-left: 24px;
    font-size: 14px;
}

.items:hover {
    background-color: #efefef;   
    border-radius: 15px;
}

.linha {
    margin: 12.8px 0;
    height: 1px;
    background-color: #efefef;
}

.menuLateral h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;
    padding: 0 16px;
}


/* Conteúdo do meio */
section {
    position: relative;
    float: left;
    width: 85%;
    height: 684px;
}

.secaoCategoria {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    
}

.categorias {
    width: 100%;
    height: 56px;
}

.formatacaoBotao {
    margin: 12px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #e5e5e5;
    font-size: 14px;
}

.formatacaoBotao:hover {
    background-color: #ddd;
    cursor: pointer;
}

.conteudoMeio {
    width: 100%;
    height: 628px;
    padding: 15px 25px;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    overflow-y: scroll;
}

.videos-containers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
}

.video {
    width: 390px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.thumbnail {
    width: 100%;
    height: 200px;
}

.thumbnail img {
    width: 390px;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.video-details {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.video-details h3 {
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
}

.titulo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.titulo a{ 
    text-decoration: none;
    margin-bottom: 5px;
    color: #000;
}
